#footer{
  color:#fff;
  margin-top:30px;
  padding:20px;
  background:#333;
}

#small-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #79B9FF;
  top: 0;
  z-index: 1;
}

#rowl {
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 70px;
  text-align: left;
}